@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, synthwave, cupcake, forest, cyberpunk;
}
* {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  /* font-size: large; */
  font-style: normal;
}
